


#logo img{
	
	margin-left: auto;
    margin-right: auto;	
}
#form{
	margin: auto;
    width: 60%;
    padding: 10px;
}
#form input[type="text" ]
{
	border:solid black;
	margin: auto;
    width: 60%;
    padding: 10px;
	border-radius: 10px;
	
}
#form input[type="password"]
{
	border:solid black;
	margin: auto;
    width: 60%;
    padding: 10px;
	border-radius: 10px;
	
}
#form input[type="submit"]
{
	margin-left:50px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	text-align: center;
	
}
#form input[type="submit"]:hover
{
	background-color:#5cbf2a;
}
#form input[type="submit"]:active
{
	position:relative;
	top:1px;
}
#Conteneur{
	background-color: white;
	margin: auto;
	margin-top: 10px;
    padding: 10px;
	width:250px;
	height:auto;
	border:groove rgb(153,204,255);
	border-radius: 50px;
	box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.7);
}
