


#logo img{
	
	margin-left: auto;
    margin-right: auto;	
}
#form{
	margin: auto;
    width: 60%;
    padding: 10px;
}
#form input[type="text" ]
{
	border:solid black;
	margin: auto;
    width: 60%;
    padding: 10px;
	border-radius: 10px;
	
}
#form input[type="password"]
{
	border:solid black;
	margin: auto;
    width: 60%;
    padding: 10px;
	border-radius: 10px;
	
}
#form input[type="submit"]
{
	margin-left:50px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	text-align: center;
	
}
#form input[type="submit"]:hover
{
	background-color:#5cbf2a;
}
#form input[type="submit"]:active
{
	position:relative;
	top:1px;
}
#Conteneur{
	background-color: white;
	margin: auto;
	margin-top: 10px;
    padding: 10px;
	width:250px;
	height:auto;
	border:groove rgb(153,204,255);
	border-radius: 50px;
	box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.7);
}
#Tableauform input[type="button"]{

	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#Tableauform[type="button"] {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}

p{
	font-weight: bold;
	color: red;
	text-align: center;
	 padding: 10px;
}
