*{
	margin: 0;
	padding: 0;
}

.header {
	
	height: 250px;
	width:100%;
	
	
}

#nav {	
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 100;
	top: 0;
}

#nav ul{
	padding-top: 20px;
	padding-left: 20px;
	height: 50px;
	width: 100%;
	min-width: 1200px;
	background: #AFDBE2;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	
}
.image_diapo{
	display: inline;
	margin:10px;
	padding: 10px;
	width:200px;
	height:auto;

}
#nav img{
	height: 40px;
	float: left;
	margin-top: -5px;
}
#recherche_p{
	height: 50px;
	float: right;
	margin-right: 20px;
	margin-top: -20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #63B6AF;
	font-family: Lato;
}

#search-btn {
	height: 15px;
	margin-top: -10px;

}
#search-btn:hover{
	background-color: #AFDBE2;
}
#links{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	border-right: solid;
	border-width: 2px;
	border-color: white;
}
#lastlink{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}

#nav li a{
	text-decoration: none;
	color: black;
	font-family: Raleway, sans-serif;
	font-size: 11px;
	color: #29465B;

}

#nav li a:hover{
	color: white;
}

#banniere {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.b_social {
    background-color: #AFDBE2;   
	border-style: solid;  
	border-width: 1px;   
	border-color: #AFDBE2;   
	padding: 5px 10px 5px 10px;   
	width: 170px;   
	box-sizing: border-box;   
	font-family: PT sans;   
	font-size: 13px;   
	font-weight: normal;   
	letter-spacing: 2px;   
	margin: 10px 0 0 0;   
	text-transform: uppercase;   
	color: #ffffff;   
}

.b_social:hover, .b_social:active {
    background-color: #63B6AF;
}


#banniere img {
	margin-top: 90px;
	height: 200px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto
	
	
}
#fond {
	height: 1000px;
	background-color: #F5F5F2;
}

#contenu {
	
	height: 940px;
	width: 60%;
	margin-left: 100px;
	margin-right: auto;
	min-width: 1000px;
}
#footer {
	
	height: 150px;
	color: #4F7880;
	padding-top: 30px;
	text-align: center;
	background-color: #AFDBE2;

}