*{
	margin: 0;
	padding: 0;
}

#contenu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 800px;
	height: 500px;
	background: white;
}

#image {
	
	float: left;
	background-color: white;
	height: 500px;
}

#image img{
	height: 500px;

}

#Tableauform img {
	margin-top: 30px;
	width: 310px;
	height: auto;
	padding-left: 10px;
}

#Tableauform {
	
	background-color: white;
	height: 500px;
	width: 310px;
	margin-left: 380px;
	
}

#Tableauform p {
	background-color: white;
	font-family: Raleway, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: solid;
	border-width: 1px;
	border-color: grey;
	padding-bottom: 10px;
}
#form{
	padding-left: 70px;
	padding-bottom: 60px;
	background-color: white;
}

#connexion{
	background-color: #AFDBE2;   
	border-style: solid;  
	border-width: 1px;   
	border-color: #AFDBE2;   
	padding: 5px 10px 5px 10px;   
	width: 170px;   
	box-sizing: border-box;   
	font-family: PT sans;   
	font-size: 13px;   
	font-weight: normal;   
	letter-spacing: 2px;   
	margin: 10px 0 0 0;   
	text-transform: uppercase;   
	color: #ffffff;   
}

#connexion:hover{
	background-color: #63B6AF;
}

#inscription {
	background-color: #AFDBE2;   
	border-style: solid;  
	border-width: 1px;   
	border-color: #AFDBE2;   
	padding: 5px 10px 5px 10px;   
	width: 170px;   
	box-sizing: border-box;   
	font-family: PT sans;   
	font-size: 13px;   
	font-weight: normal;   
	letter-spacing: 2px;   
	margin: 10px 0 0 0;   
	text-transform: uppercase;   
	color: #ffffff;   
}

#inscription:hover{
	background-color: #63B6AF;
}

#footer{
	height: 200px;
	margin-top: 200px;
	padding-top: 30px;
	text-align: center;
	font-family: Calibri;
	background-color: #AFDBE2;

}